.main-div {
  margin-top: 10px;
}

.filtration-form-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filtration-form {
  box-shadow: 4px 8px 9px 0px rgba(34, 60, 80, 0.2);
}

