<mat-toolbar color="primary" >
  <button mat-button class="mat-headline">Car Booking System</button>
  <span class="example-spacer"></span>
  <div *ngIf="(currentUser$ | async)">
    <div *ngIf="imageSrc" class="image-div">
      <img  class="image" [src]="imageSrc">
    </div>
      <button mat-button [matMenuTriggerFor]="menu">{{(currentUser$ | async)?.email}}</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Bookings</button>
      <button mat-menu-item>Profile</button>
      <button mat-menu-item (click)="logOutUser()">Logout</button>
    </mat-menu>
  </div>
  <div *ngIf="!(currentUser$ | async)">
    <button mat-button (click)="onLoginClick()">
      Login
    </button>
  </div>
</mat-toolbar>
